# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build
dist

# Production
*.log
*.tsbuildinfo
next-env.d.ts

# Environment
.env
.env*.local

# Database
*.db
*.db-journal
prisma/migrations

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
