@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
  }

  body {
    @apply text-gray-900 antialiased;
    background-color: #FBF7F0;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .section-padding {
    @apply px-4 py-16 sm:px-6 lg:px-8 lg:py-24;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.7s ease-in-out;
  }

  @keyframes firework {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(var(--tx), var(--ty));
      opacity: 0;
    }
  }

  .animate-firework {
    animation: firework 1.5s ease-out forwards;
  }
}
